/* =======================================================================
Font Family et Variables
======================================================================= */
:root{
    --backgroundImg : url(/img/pageHome.png);

    --colorLune : 197 197 197;
    --colorObsidienne: 26 26 26;
    --colorBronze :139 105 20;
    --colorAcier : 61 68 81;
    --colorPourpre : 71 14 14;
    --colorBlack : 0 0 0;
    --badgeColor : "";
    --containerWeekColor : 139 105 20;


}
:root.dark {
    --backgroundImg : url(/img/pageHomeDark.png);
    
    --colorLune : 0 0 0;
    --colorObsidienne: 100 100 100;
    --colorBronze : 153 153 153;
    --colorAcier : 179 179 179;
    --colorPourpre : 204 204 204;
    --colorBlack : 200 200 200;
    --badgeColor : 200 200 200;
    --containerWeekColor : 200 200 200;

}
@font-face {
    font-family: 'Cinzel';
    src: url(/fonts/Cinzel-Regular.woff) format('woff'),
        url(/fonts/Cinzel-Regular.woff2) format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cinzel-Bold';
    src: url(/fonts/Cinzel-Bold.woff) format(woff),
        url(/fonts/Cinzel-Bold.woff2) format(woff2);
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-Regular.woff) format(woff),
        url(/fonts/Inter-Regular.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Radjhani';
    src: url(/fonts/Rajdhani-Regular.woff) format(woff),
        url(/fonts/Rajdhani-Regular.woff2) format(woff2);
}


/* =======================================================================
BODY
======================================================================= */
*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    width: 100%;
    background: var(--backgroundImg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 550px;
    padding-right: 150px;
    box-sizing: border-box;

}
body.dark{
    background: var(--backgroundImg);
}
header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;

    .toggleDarkMode{
        height: 30px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 3px;
        padding-right: 3px;
        background-color: white;
        border-radius: 15px;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.568);

        .rond{
            height: 26px;
            width: 26px;
            border-radius: 50%;
            background-color: black;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
        }
        
    }
    .active{
        justify-content: end;
    }
}
nav{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 80px;
    box-sizing: border-box;
}
.containerMenu{
    height: 100%;
    width: 200px;
    border-top: 2px solid rgb(var(--colorObsidienne));
    border-bottom: 2px solid rgb(var(--colorObsidienne));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'cinzel';
    color: rgb(var(--colorObsidienne));
}
.containerMenu:hover{
    background-color: rgb(var(--colorObsidienne));
    color: rgb(var(--colorLune));
    cursor: pointer;
}
.totalPoint{
    text-align: center;
    font-family: 'cinzel';
    font-size: 2em;
    color: rgb(var(--colorPourpre));
    margin-top: 60px;
}
.containerLotBadge{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border: 3px solid rgb(var(--colorBronze));
}
.containerBadge{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        font-family: 'cinzel';
        margin: 5px;
    }
}

.badge{
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--badgeColor));
    border-radius: 50%;
    position: relative;


    img{

        height: 75%;
        object-fit: cover;
    }
}
.circular-progress {
    position: absolute;
    top: 0;
    left: 0;
        transform: rotate(-90deg); /* Commence en haut */
    }
.animProgress {
        transition: stroke-dashoffset 1s ease-out 0.5s;
}

.containerPrincipal{
    height: 400px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;


}
.planning{
    height: 100%;
    width: 700px;
    border-radius: 15px;
    border: 3px solid rgb(var(--colorBronze));
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 5px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    
}
.containerDate{
    border-radius: 10px;
    border: 3px solid rgb(var(--colorBronze));
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    .titre{
        display: flex;
        justify-content: space-between;
        font-family: 'cinzel';
        color: rgb(var(--colorBronze));
    }
    .sousTitre{
        display: flex;
        justify-content: start;
        font-family: 'inter';
        padding-left: 30px;
        color: rgb(var(--colorObsidienne));

        p{
            margin-left: 30px;
        }
    }
}
.containerTraining{
    border-radius: 10px;
    border: 3px solid rgb(var(--colorBronze));
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    h3{
        font-family: 'Cinzel';
        color: rgb(var(--colorBronze));
    }
    p{
        font-family: 'inter';
        margin-top: 10px;
        color: rgb(var(--colorObsidienne));
    }
}
.containerWeek{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: 3px solid rgb(var(--colorBronze));
    background-color: rgb(var(--containerWeekColor));

    .calendarIcon{
        margin-top: 10px;
        height: 50%;
        color: rgb(var(--colorLune));

        img{
            height: 100%;
            width: auto;
            object-fit: cover;
            
        }
        img:hover{
        transform: scale(1.03);
    }
    }
}
.citation{
    border-radius: 10px;
    border: 3px solid rgb(var(--colorBronze));
    width: 350px;

    h1{
        font-family: 'Radjhani'; 
        color: rgb(var(--colorObsidienne));
        margin-left: 5px;
        margin-top: 50px;
    }
    p{
        font-family: 'Cinzel';
        color: rgb(var(--colorObsidienne));
        margin: 30px 20px 0px 20px;
        text-align: justify;

    }
}
