/* =======================================================================
Font Family et Variables
======================================================================= */
@font-face {
    font-family: 'Cinzel';
    src: url(fonts/Cinzel-Regular.woff) format('woff'),
        url(fonts/Cinzel-Regular.woff2) format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cinzel-Bold';
    src: url(fonts/Cinzel-Bold.woff) format(woff),
        url(fonts/Cinzel-Bold.woff2) format(woff2);
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.woff) format(woff),
        url(fonts/Inter-Regular.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Radjhani';
    src: url(fonts/Rajdhani-Regular.woff) format(woff),
        url(fonts/Rajdhani-Regular.woff2) format(woff2);
}

:root{
    --colorBronze : 139 105 20;
    --colorPourpre : 71 14 14;
    --colorObsidienne: 26 26 26;
    --colorAcier : 61 68 81;
    --colorLune : 197 197 197;
}
/* =======================================================================
BODY
======================================================================= */
*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    width: 100%;
    background: url(img/pageHome.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 500px;
    box-sizing: border-box;
}
header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 60px;
    box-sizing: border-box;

    .toggleDarkMode{
        height: 30px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 3px;
        padding-right: 3px;
        background-color: white;
        border-radius: 15px;
        cursor: pointer;

        .rond{
            height: 26px;
            width: 26px;
            border-radius: 50%;
            background-color: black;
        }
    }
}
nav{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 80px;
    box-sizing: border-box;
}
.containerMenu{
    height: 100%;
    width: 200px;
    border-top: 2px solid rgb(var(--colorObsidienne));
    border-bottom: 2px solid rgb(var(--colorObsidienne));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'cinzel';
}
.containerMenu:hover{
    background-color: rgb(var(--colorObsidienne));
    color: rgb(var(--colorLune));
    cursor: pointer;
}
.containerBadge{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.badge{
    height: 100%;
    width: 200px;

    img{
        height: 100%;
        object-fit: cover;
    }

}
.totalPoint{
    text-align: center;
    font-family: 'cinzel';
    font-size: 2em;
    color: rgb(var(--colorPourpre));
    margin-top: 20px;
}
.containerPrincipal{
    height: 400px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;


}
.planning{
    height: 100%;
    width: 700px;
    border-radius: 15px;
    border: 3px solid rgb(var(--colorBronze));
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 5px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    
}
.containerDate{
    border-radius: 10px;
    border: 3px solid rgb(var(--colorBronze));
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    .titre{
        display: flex;
        justify-content: space-between;
        font-family: 'cinzel';
        color: rgb(var(--colorBronze));
    }
    .sousTitre{
        display: flex;
        justify-content: start;
        font-family: 'inter';
        padding-left: 30px;

        p{
            margin-left: 30px;
        }
    }
}
.containerTraining{
    border-radius: 10px;
    border: 3px solid rgb(var(--colorBronze));
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    h3{
        font-family: 'Cinzel';
        color: rgb(var(--colorBronze));
    }
    p{
        font-family: 'inter';
        margin-top: 10px;
    }
}
.containerWeek{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: 3px solid rgb(var(--colorBronze));

    .calendarIcon{
        margin-top: 10px;
        height: 50%;

        img{
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }

}
.citation{
    h1{
        font-family: 'Radjhani';   
    }
    p{
        font-family: 'Cinzel';
    }
}
