/* =======================================================================
Font Family et Variables
======================================================================= */
@font-face {
    font-family: 'Cinzel';
    src: url(fonts/Cinzel-Regular.woff) format('woff'),
        url(fonts/Cinzel-Regular.woff2) format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cinzel-Bold';
    src: url(fonts/Cinzel-Bold.woff) format(woff),
        url(fonts/Cinzel-Bold.woff2) format(woff2);
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.woff) format(woff),
        url(fonts/Inter-Regular.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Radjhani';
    src: url(fonts/Rajdhani-Regular.woff) format(woff),
        url(fonts/Rajdhani-Regular.woff2) format(woff2);
}

:root{
    --colorBronze : 139 105 20;
    --colorPourpre : 71 14 14;
    --colorObsidienne: 26 26 26;
    --colorAcier : 61 68 81;
    --colorLune : 197 197 197;
}
    
/* =======================================================================
BODY
======================================================================= */

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background: url(img/pageLogin.png);
    background-size: cover;
    
}
/* =======================================================================
TITRE
======================================================================= */
header{
    height: 15%;
    width: 100%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    h1{
        font-family: 'Cinzel-Bold';
        font-size: 4em;
        color: rgb(var(--colorBronze))
    }
    h3{
        font-family: 'Radjhani';
        margin-left: 100px;
    }
}
/* =======================================================================
SECTION SIGNU UP LOG IN
======================================================================= */
main{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    height: 500px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(var(--colorBronze) / 0.4);
    border-radius: 8px;
    transform: translateX(-30%);
    box-shadow: 3px 3px 6px gray;

    .left{
        height: 460px;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;

        
        .containerDoubleCarte{
            height: 920px;
            width: 100%;


            
            .logIn{
                height: 460px;
                width: 100%;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;

                .containerInput{
                    border-bottom: 2px solid rgb(var(--colorBronze));
                    margin-bottom: 40px;

                    input{
                        border: none;
                        text-align: center;
                        font-family: 'cinzel';
                    }
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-family: 'Inter';
                    font-size: 0.8em;
                    margin-bottom: 10px;
                }
                button{
                    background-color: rgb(var(--colorPourpre));
                    color: white;
                    padding: 10px;
                    border: none;
                    border-radius: 4px;
                    font-family: 'Cinzel';
                    margin-top: 20px;
                    cursor: pointer;
                }
                button:hover{
                    transform: scale(1.03);
                }
                a:hover{
                    transform: scale(1.03);
                }
            }
            .signUp{
                height: 460px;
                width: 100%;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;

                .containerInput{
                    border-bottom: 2px solid rgb(var(--colorBronze));
                    margin-bottom: 20px;

                    input{
                        border: none;
                        text-align: center;
                        font-family: 'cinzel';
                    }
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-family: 'Inter';
                    font-size: 0.8em;
                    margin-bottom: 10px;
                }
                button{
                    background-color: rgb(var(--colorPourpre));
                    color: white;
                    padding: 10px;
                    border: none;
                    border-radius: 4px;
                    font-family: 'Cinzel';
                    margin-top: 20px;
                    cursor: pointer;
                }
                button:hover{
                    transform: scale(1.03);
                }
                a:hover{
                    transform: scale(1.03);
                }
                
            }
            

        }
        .slideUp{
            animation: slideUp 600ms ease-out forwards;
        }
        .slideDown{
            animation: slideDown 600ms ease-out forwards;
        }
        
    }
        
    
}
@keyframes slideUp {
            0% {
               transform: translateY(0%);
            }
            100% {
                transform: translateY(-50%);
            }
        }
@keyframes slideDown {
            0% {
               transform: translateY(-50%);
            }
            100% {
                transform: translateY(0%);
            }
        }
.right{
        height: 90%;
        width: 45%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding-top: 50px;
        padding-left: 20px;
        box-sizing: border-box;

        h3{
            font-family: 'Inter';
            color: white;
            font-size: 1.4em;
        }
        ul{
            list-style-type: none;
            color: white;
            font-size: 1em;
        }
        li{
            margin-top: 20px;
            display: flex;
            align-items: center;

        }
        li .iconecheck{
            height: 25px;
            width: 25px;
            margin-right: 10px;

        }
    }